<!DOCTYPE html>
<html lang='en' style="height: 100%;">

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<script src='./webcc.min.js'></script> <!-- mandatory dependency -->
    <script src="./webccInterface.js"></script>
	<link href="dist/style.css" rel="stylesheet">
</head>

<body style="height: 100%; margin: 0;">
	<div id="Dnomaid"></div>
	<h1>Custom web control WinccUnified</h1>	
	<script src='./codeDnomaid.js'></script>
	<div id="info">Info</div>
	<div id="val1">Value1: 0</div>
	<div id="val2">Value2: 0</div>
	<div id="result">Result: 0</div>	   
</body>

</html>